<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <a href="http://localhost:8080/" class="back-btn"><i class="fa-solid fa-arrow-left"></i>&nbsp Back </a>
    <div class="row mt-2">
        <div class="col-10 offset-1">
                <div class="top-view">
                    <h4><%= data.title %></h4>
                    <div class="top-view-btns">
                        <p><i class="fa-regular fa-share-from-square"></i> &nbsp share</p>
                        <p><i class="fa-solid fa-heart"></i> &nbsp  save</p>
                    </div>
                </div>
            </div>
            <div class="card col-10 offset-1" >
                <img src="<%=data.image %>" class="card-img-top show-img" alt="...">
                <div class="card-body">
                  <div class="card-text">
                    <br>
                    <b><%= data.title  %></b><br>
                     &#8377;<% if (data.price !==null && data.price !==undefined) { %>
                              &#8377; <%= data.price.toLocaleString('en-IN') %> / night
                            <% } else { %>
                                Price not available
                            <% } %>
                            <br>
                      <p style="color: tomato; display: inline-block;"><%=data.location %> , <%= data.country %></p>
                     <div class="col-12 card-text">
                        <p><%=data.description %></p>
                        <p><b>About this space</b><br>
                            The elegant 4 bedrooms beach house is located on the coasts of Mangalore and equipped with luxurious interiors and sprawling lawn, a perfect gateway from the hustle and bustle of the city.
                            The space
                            <br>
                            <b> Reasons, why the place is a, must-visit:</b>
                            <br>
                            1. The bright, plush and exclusive property is a perfect gateway with your family and friends from the maddening city life. The interiors are decored with modern amenities and sophisticated décor and the villa opens up to the pristine beach of surathkal, giving it one of the most breath-taking views from all angles. <br>
                            2. Located a stone's throw away from the beach, the property adds a beautiful touch to the villa. One can fall asleep to the sound of crashing waves and wake up to the chirping of birds. It's picturesque surrounding perfectly blends into the elegant villa, making it one of the most beautiful and relaxing vacations of your lifetime. <br>
                            3. The coast of Surathkal is famous for its coastal cuisine, the surrounding area is swamped with delicious restaurants. One can relish on the authentic local cuisine during the day and spend the night overlooking the pristine beach <br>
                     </div>
                  </div>
                </div>
                <div class="btns col-6">
                    <button><a style="text-decoration: none; color: white;" href="http://localhost:8080/listing/edit/<%=data._id %>">Edit</a></button>
                    <form method="post" action="/listing/delete/<%=data._id%>?_method=DELETE">
                        <br>
                        <button>Delete</button>
                    </form>
                </div>

                <div class="col-12">
                    <hr>
                    <form action="/listings/<%=data._id%>/reviews"  method="post">
                        <div class="review col-10 offset-1">
                            <label for="review" class="form-label">Leave a Review 1-5</label>
                            <input type="range" class="form-range" min="1" max="5" id="rating" name="review[review]"> 
                           </div>
                           <div class="review col-10 offset-1">
                            <label for="comments" class="form-label">Comments</label>
                            <textarea name="review[comments]" id="comments" class="form-control" cols="30" rows="3"></textarea>
                            <br>
                            <button class="btn btn-dark" type="submit">Submit</button>
                           </div>
                    </form>
                </div>
            </div>
    </div>
</body>
